
@model IEnumerable<MovieHunter.Models.Movies>

@{
    ViewData["Title"] = "Index";
}



@await Html.PartialAsync("MoviesV/_SearchBar")

<section class="rem movies">
    <h2 class="heading">Coming SOON</h2>
    <div class="movies-container">
        @foreach (var item in Model.Where(r => r.ReleaseDate > new DateTime(2023, 4, 30)))
        {
            <div class="box">
                <div class="box-img">
                    <a asp-controller="MovieApi" asp-action="Details" asp-route-id="@item.MovieId">
                    <img src="@item.PictureUrl"/>
                    </a>
                </div>
                <h3>@item.Title</h3>
                <span>@item.Duration min | @item.Genre</span>
            </div>
        }
    </div>
</section>

<section>
    <h2 class="heading">Now in Cinema</h2>
    <div class="movies-container">
        @foreach (var item in Model.Where(r => r.ReleaseDate < new DateTime(2023, 4, 30)))
        {
            <div class="box">
                <div class="box-img">
                    <a asp-controller="MovieApi" asp-action="Details" asp-route-id="@item.MovieId">
                        <img src="@item.PictureUrl" />
                    </a>
                </div>
                <h3>@item.Title</h3>
                <span>@item.Duration min | @item.Genre</span>
            </div>
        }
    </div>
</section>



@await Html.PartialAsync("MoviesV/_Newsletter")






